<div class="content-container"></div>
<div data-toggle="tooltip" title="Add Comments" class="glyphicon glyphicon-comment add-comments"></div>
<div data-toggle="tooltip" title="Edit" class="glyphicon glyphicon-pencil edit-card"></div>
<div data-toggle="tooltip" title="Delete" class="glyphicon glyphicon-trash delete-card"></div>