<div class="modal">
                <div class="change-card-container"><textarea class="change-card-editor"></textarea>
                <div class="change-card">Add</div><div class="cancel-change">Cancel</div></div>
                </div></div>