<div class="edit-modal">
    <div class="change-task-container">
		<textarea class="change-task-editor"></textarea>
		<div class="btn btn-primary change-task">Add</div>
		<div class="btn btn-primary cancel-task-change">Cancel</div>
	</div>
 </div>