<div class="modal">
    <div class="change-task-container">
		<textarea class="change-task-editor"></textarea>
		<div class="change-task">Add</div>
		<div class="cancel-task-change">Cancel</div>
	</div>
 </div>