<div class="header">
	<div class="title-content"></div><div class="edit-task">E</div><div class="delete-task">X</div>
</div>
<div class="card-desc-container">
    <textarea class="card-editor"></textarea>
    <div class="add-card">Add</div><div class="hide-add-card">Cancel</div>
</div>
<div class="show-add-card">Add Card...</div>