<div class="header">
	<div class="title-content"></div><div data-placement="left" data-toggle="tooltip" title="Edit" class="glyphicon glyphicon-pencil edit-task"></div><div data-placement="left" data-toggle="tooltip" title="Delete" class="glyphicon glyphicon-trash delete-task"></div>
</div>
<div class="card-desc-container">
    <textarea class="card-editor"></textarea>
    <div class="btn btn-primary add-card">Add</div><div class="btn btn-primary hide-add-card">Cancel</div>
</div>
<div class="btn btn-primary show-add-card">Add Card...</div>