<div class="tasks-container"></div>
<div class="list-desc-container">
	<textarea class="title-editor"></textarea>
	<div class="btn btn-primary add-task">Add</div><div class="hide-add-task">btn btn-primary Cancel</div></div>
<div class="btn btn-primary show-add-task">Add List...</div><div class="btn btn-primary save-tasks">Save</div>