<div class="tasks-container"></div>
<div class="list-desc-container">
	<textarea class="title-editor"></textarea>
	<div class="add-task">Add</div><div class="hide-add-task">Cancel</div></div>
<div class="show-add-task">Add List...</div><div class="save-tasks">Save</div>